<html>
    <head>
        <title>the deep web</title>
    </head>
    <body>
        <div id="content"/>
        <script src="@Url.Content("~/main.js")" type="text/javascript"></script>
    </body>
</html>