<html>
    <head>
        <title>the web</title>
		<link rel="stylesheet" type="text/css" href="@Url.Content("~/reset.css")"/>
    </head>
    <body>
		<form>
			<input type="text" id="fps" value="5"/>
			<input type="button" id="setfps" value="Change FPS"/>
		</form>
		<div id="content"></div>
		<script src="@Url.Content("~/vendor.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/app.js")" type="text/javascript"></script>
    </body>
</html>